# Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=autecno

# Redis e BullMQ
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT
JWT_SECRET=suachavesecreta

# App
PORT=3333

# URL
NEXT_PUBLIC_API_URL=http://localhost:3333
